node_modules/
dist/
coverage/
.test-build/
.flow/
.pnp.*
.yarn/*
!.yarn/releases/
!.yarn/releases/**
/FlowVesicle.js
/FlowVesicle.mjs
/FlowVesicle.js.flow
.DS_Store
package-lock.json
*.tgz
npm-debug.log*
yarn-error.log*
